* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

h1 {
  // font-size: clamp(2.2ch, 4vw, 9ch);
  // font-size: 4.5ch;
  font-size: 25px;
  max-width: 435px;
  margin: 0 auto;
}

p,
a,
pre {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

p,
a {
  font-weight: 500;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  font-weight: bold;
}

.button {
  display: inline-block;
  background: #000;
  padding: 1rem 2rem;
  font-family: 'Public Sans';
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: background 200ms ease-in;
  font-size: 16px;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

.change #span1 {
  transform: rotate(-45deg) translate(-3px, 2px);
}

.change #span2 {
  opacity: 0;
}

.change #span3 {
  transform: rotate(45deg) translate(-8px, -6px);
}

.desc {
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
  }

  &__content,
  &__search {
    display: flex;
  }

  &__search {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 0.5rem;

    .search {
      padding: 0.5rem;
      border: none;
      outline: none;
    }
  }
}

.aboutus-header {
  height: fit-content !important;
  height: -moz-fit-content !important;
}
