* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.search {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  border: 1px solid black;
}

h1,
h2,
h3,
h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

h1 {
  // font-size: clamp(2.2ch, 4vw, 9ch);
  // font-size: 4.5ch;
  font-size: 25px;
  max-width: 435px;
  margin: 0 auto;
}

p,
a {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

p {
  font-weight: 500;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  background: #000;
  padding: 1rem 2rem;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: background 200ms ease-in;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}
