<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CGPA Forecaster - PlanDone</title>
    <!-- Meta Information -->
    <meta
      name="description"
      content="PlanDone is made for Students who would like to learn smart, be
      productive and access everything they need while studying in one
      place."
    />
    <meta
      name="keywords"
      content="student productive app, student productive website, CGPA forecaster, create notes, create tasks, Favourite Jome"
    />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../favicon/site.webmanifest" />

    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <main class="container">
      <p>Enter the number GPA scores you have, so far</p>
      <input type="number" name="number of GPA" id="numberScore" value="2" />

      <div class="forecaster">
        <h2><span class="level">1</span>00 Level</h2>
        <div class="semester">
          <label for="score1">First Semester GPA </label>
          <label for="score2">Second Semester GPA </label>
        </div>

        <input
          type="number"
          name="first-semester-score"
          id="score1"
          placeholder="4.5"
        />
        <input
          type="number"
          name="first-semester-score"
          id="score2"
          placeholder="4.5"
        />

        <button class="next__semester">Next Semester</button>
        <button id="calcGpa">Forecasts Score</button>
      </div>
    </main>

    <script type="module" src="forecaster.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
