@use '../scss/utilities' as util;

.notes__heading {
  display: flex;
  justify-content: space-between;
}

.note {
  border-radius: 10px;
  padding: 1rem;
}

@each $color, $value in util.$noteBackground {
  .note:nth-of-type(#{$color}) {
    @include util.set-background($value);
  }
}

.displayNone {
  display: none !important;
}
